<nav class="container col-sm-9">
  <div class="row">
    <ul class="nav nav-pills nav-fill justify-content-center">
      <li class="nav-item">
        <h1><a href="index.html">TAI</a></h1>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Strona główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/quiz">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/contact">Kontakt</a>
      </li>
    </ul>
  </div>
</nav>
