<nav class="container col-sm-9">
  <div class="row">
    <ul class="nav nav-pills nav-fill justify-content-center">
      <li class="nav-item">
        <h1><a href="index.html">TAI</a></h1>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.html">Strona główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="quiz.html">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="kontakt.html">Kontakt</a>
      </li>
    </ul>
  </div>
</nav>

<div>
  <div class="row">

    <div class="col-md-6 offset-md-3">
      <div class="card" style="margin:50px 0">

        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width:0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <form name="question" class="custom-style-quiz" onsubmit="printOut(event)">

          <div class="card-header">
            <label id="question">Miejsce na pytanie</label>
          </div>

          <ul class="list-group list-group-flush">

            <li class="list-group-item">
              <div class="answer">
                <span id="ans0txt">Odpowiedź A</span>
                <label class="checkbox">
                  <input type="checkbox" id="ans1" value="0" name="answer" onclick="set(0)">
                  <span class="primary"></span>
                </label>
              </div>
            </li>

            <li class="list-group-item">
              <div class="answer">
                <span id="ans1txt">Odpowiedź B</span>
                <label class="checkbox">
                  <input type="checkbox" id="ans2" value="1" name="answer" onclick="set(1)">
                  <span class="primary"></span>
                </label>
              </div>
            </li>

            <li class="list-group-item">
              <div class="answer">
                <span id="ans2txt">Odpowiedź C</span>
                <label class="checkbox">
                  <input type="checkbox" id="ans3" value="2" name="answer" onclick="set(2)">
                  <span class="primary"></span>
                </label>
              </div>
            </li>

            <li class="list-group-item">
              <div class="answer">
                <span id="ans3txt">Opowiedź D</span>
                <label class="checkbox">
                  <input type="checkbox" id="ans4" value="3" name="answer" onclick="set(3)">
                  <span class="primary"></span>
                </label>
              </div>
            </li>

          </ul>

          <div class="card-footer">
            <button type="submit" class="btn btn-block btn-primary">Dalej</button>
          </div>

        </form>

        <div class="results hidden">
          <div class="list-group-item">
            <span class="result-text"></span>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-block btn-primary" onclick="retry()">Spróbuj ponownie</button>
          </div>
        </div>

      </div>
    </div>



  </div>
</div>

