<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Radosław Lechowicz</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<nav class="container col-sm-9">
  <div class="row">
    <ul class="nav nav-pills nav-fill justify-content-center">
      <li class="nav-item">
        <h1><a href="index.html">TAI</a></h1>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="index.html">Strona główna</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="quiz.html">Quiz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="kontakt.html">Kontakt</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam semper pulvinar venenatis. Proin et diam nunc. Duis vulputate est eu ipsum posuere, eget dictum risus auctor. Nam nibh nunc, dapibus id odio placerat, consectetur efficitur tortor. Maecenas nec justo pharetra, vulputate erat eu, egestas erat. Vestibulum porttitor luctus elit et euismod. Aenean ac erat nec dolor auctor tempus a sit amet felis. Fusce ut egestas nisl, quis ornare mi. Ut iaculis elit non ipsum faucibus interdum. Donec varius ante nec egestas rutrum.</p>
</div>

</body>

<script src="script.js"></script>

</html>
