<div class="container">
  <div class="col-md-6 mx-auto d-block">

    <form class="navbar-form" role="search">
      <div class="input-group add-on">
        <input class="form-control" placeholder="Czego szukasz?" name="title" id="search" type="text">
        <!--<div class="input-group-btn">-->
          <!--<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>-->
        <!--</div>-->
      </div>
    </form>

  </div>
</div>

<ul style="list-style-type:none">
  <li *ngFor="let item of items | filter: filterText">
    <app-blog-item [image]="item.url" [text]="item.title" [id]="item.id"></app-blog-item>
  </li>
</ul>
